.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('images/books.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#book_title {
	color:black; 
	font-size:30px; 
	text-decoration:none;
}

#book_title:hover {
	color:gray;
}