{% extends 'layout2.html' %}
{% block title %}
	<li class="nav-item active">
		<a class="nav-link" href="#">Home
			<span class="sr-only">(current)</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{ url_for('allbooks', id=user.id) }}">All Books</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{ url_for('contact', id=user.id) }}">Contact</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{ url_for('account', id=user.id) }}">Account</a>
	</li>
{% endblock %}

{% block heading %}
	<h1 class="font-weight-light" style="color:white">Welcome, {{ user.username }}!</h1>
	<p class="lead" style="color:white">Here are all your book reviews.</p>
{% endblock %}

{% block body %}
	<div class="container">
	<h3 class="font-weight-light" style="text-align:center">Reviews and Ratings from Simple Book Reviews</h3>
	{% for review in reviews %}
		<div class="card border-0 shadow my-5">
			<div class="card-body">
				<a id="book_title" class="font-weight-light" href="{{ url_for('book', user_id=user.id, book_id=review.book_id) }}">{{ book_titles[loop.index - 1][0] }}<a>
				<h4 class="font-weight-light">Rating: {{ review.rating }} out of 5</h4>
				<h4 class="font-weight-light">Review: {{ review.review }}</h4>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}