{% extends "layout1.html" %}
	{% block body %}
              <h3 class="login-heading mb-4">Welcome back to Simple Book Reviews!</h3>
              <form action="{{ url_for('signin') }}" method="post">
                <div class="form-group">
                  <input type="text" name="inputUsername" class="form-control" value="{{ username }}" required autofocus>
                </div>					
                <div class="form-group">
                  <input type="password" id="pass" name="inputPassword" class="form-control is-invalid" placeholder="Password" required>
                  <div class="invalid-feedback">
				  Incorrect password!
				  </div>
                </div>
                <!--<div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div>-->
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Log in.</button>
                <div class="text-center">
                  <a class="small">Forgot password? Too bad</a></div>
              </form>
			  <div style="height:50px"></div>
			  <form action="{{ url_for('signuppage') }}">
				<h5 class="login-heading mb-4">First time here?</h5>
				<button class="btn btn-lg btn-secondary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" href="{{ url_for('signuppage') }}">Sign up.</button>
			  </form>
    {% endblock %}